.icon-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.25rem;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
}

.icon-card svg {
    font-size: 24px;
}

.icon-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Mukta',sans-serif;
}